<div class="grid-h-row">
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
</div>
<div class="grid-v-row">
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
</div>
<div class="grid-h-row">
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
</div>
<div class="grid-v-row">
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
</div>
<div class="grid-h-row">
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
</div>
<div class="grid-v-row">
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
</div>
<div class="grid-h-row">
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
</div>
<div class="grid-v-row">
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
  <div class="grid-box"></div>
  <div class="grid-v-col" off=""></div>
</div>
<div class="grid-h-row">
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
  <div class="grid-h-col" off=""></div>
  <div class="grid-dot"></div>
</div>