<nav class="nav-bar">
  <a class="nav-header" href="/">Dots and Boxes</a>
  <div class="nav-items">
    <a class="nav-item" href="/local">Local Game</a>
    <a class="nav-item" href="/online">Online Game</a>
    <a class="nav-item" href="/rules">Rules</a>
  </div>
</nav>